<nav id="nav" class="navbar nav-transparent">
    <div class="container">
       <div class="navbar-header">

          <div class="navbar-brand">
             <a href="{{ path("dashboard") }}">
                <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">
                <img class="logo-alt" src="{{ asset('img/logo-alt.png') }}" alt="logo">
             </a>
          </div>
          <div class="nav-collapse">
             <span></span>
          </div>
       </div>
       <ul class="main-nav nav navbar-nav navbar-right">
          <li {% if app.request.attributes.get('_route') == "dashboard" %} class="active" {% endif %} ><a href="{{ path("dashboard") }}">Home</a></li>
          <li {% if app.request.attributes.get('_route') == "about" %} class="active" {% endif %} ><a href="{{ path("about") }}">About</a></li>
          <li {% if app.request.attributes.get('_route') == "portfolio" %} class="active" {% endif %} ><a href="{{ path("portfolio") }}">Portfolio</a></li>
          <!--<li><a href="#service">Services</a></li>
          <li><a href="#pricing">Prices</a></li>
          <li><a href="#team">Team</a></li>
          <li class="has-dropdown"><a href="#blog">Blog</a>
             <ul class="dropdown">
                <li><a href="blog-single.html">blog post</a></li>
             </ul>
          </li> -->
          <li class="has-dropdown" {% if app.request.attributes.get('_route') == "blog" %} class="active" {% endif %}>
            <a href="{{ path("blog") }}">Blog</a>
            <ul class="dropdown">
            <li><a href="blog-single.html">blog post</a></li>
            </ul>
          </li> 
          <li {% if app.request.attributes.get('_route') == "contact" %} class="active" {% endif %}><a href="{{ path("contact") }}">Contact</a></li>
       </ul>
    </div>
 </nav> 